@charset "utf-8";
/* Timeline Animation*/

/* Section 1 BG */
@keyframes bg-2 {
	0% { opacity:0; }
	20% { opacity:1; }
	30% { opacity:1; }
	50% { opacity:0; }
	60% { opacity:0; }
	80% { opacity:0; }
	90% { opacity:0; }
	100% { opacity:0; }
}
@keyframes bg-3 {
	0% { opacity:0; }
	20% { opacity:0; }
	30% { opacity:1; }
	50% { opacity:1; }
	60% { opacity:0; }
	80% { opacity:0; }
	90% { opacity:0; }
	100% { opacity:0; }
}
@keyframes bg-4 {
	0% { opacity:0; }
	20% { opacity:0; }
	30% { opacity:0; }
	50% { opacity:0; }
	60% { opacity:1; }
	80% { opacity:1; }
	90% { opacity:0; }
	100% { opacity:0; }
}

@keyframes grass-2 {
	0% { opacity:0; }
	20% { opacity:0; }
	30% { opacity:0; }
	50% { opacity:0; }
	60% { opacity:1; }
	80% { opacity:1; }
	90% { opacity:0; }
	100% { opacity:0; }
}

@keyframes h-night-font {
	0% { color:#003080; }
	50% { color:#003080; }
	60% { color:#04b5ff; }
	80% { color:#04b5ff; }
	90% { color:#003080;}
	100% { color:#003080; }
}

@keyframes night-font {
	0% { color:#666; }
	50% { color:#666; }
	60% { color:#fff; }
	80% { color:#fff; }
	90% { color:#666; }
	100% { color:#666; }
}

@keyframes meteor-1 {
	0% { transform:translate(0px,0px); opacity:0; }
	64% { transform:translate(0px,0px);  opacity:0; }
	64.5% { transform:translate(-300px,250px); opacity:1; }
	65% { transform:translate(-600px,500px); opacity:0; }
	100% { transform:translate(-600px,500px); opacity:0; }
}

@keyframes meteor-2 {
	0% { transform:translate(-600px,0px); opacity:0; }
	70% { transform:translate(-600px,0px);  opacity:0; }
	70.5% { transform:translate(-900px,250px); opacity:1; }
	71% { transform:translate(-1200px,500px); opacity:0; }
	100% { transform:translate(-1200px,500px); opacity:0; }
}

/* Cloud */
@keyframes cloud-1 {
	0% { background-position:0px 0px; }
	100% { background-position:-2000px 0px; }
}

/* Bird */
@keyframes bird {
	0% { top:60%; left:-20%; transform:scale(1) rotateY(0deg); }
	30% { top:64%; left:20%; transform:scale(1) rotateY(0deg); }
	40% { top:65%; left:32%; transform:scale(0.7) rotateY(-5deg);  }
	50% { top:64%; left:34%; transform:scale(0.7) rotateY(-5deg); }
	65% { top:50%; left:65%; transform:scale(1) rotateY(0deg); }
	75% { top:50%; left:65%; transform:scale(1) rotateY(0deg); }
	90% { top:55%; left:120%; transform:scale(0.5) rotateY(0deg); }
	100% { top:60%; left:120%; transform:scale(0.5) rotateY(0deg); }
}


@keyframes bird-2 {
0% { left:-10%; }	
100% { left:100%; }	
}


@keyframes bird-wing {
	0% { opacity:0; }
	25% { opacity:1; }
	50% { opacity:1; }
	75% { opacity:0; }
	100% { opacity:0; }
}

@keyframes bird-wing-2 {
	0% { opacity:1; }
	25% { opacity:1; }
	50% { opacity:0; }
	75% { opacity:0; }
	100% { opacity:1; }
}


/* Leaf */

@keyframes leafs {
	0% { background:url(../img/leafs.png);}
	5% { background:url(../img/leafs-2.png);}
	10% { background:url(../img/leafs.png);}
	15% { background:url(../img/leafs.png);}
	20% { background:url(../img/leafs-2.png);  }
	30% { background:url(../img/leafs.png); }	
	40% { background:url(../img/leafs-2.png); }
	60% { background:url(../img/leafs-2.png); }
	90% { background:url(../img/leafs.png); }
	100% { background:url(../img/leafs.png); }
}
@keyframes leaf1 {
	0% { top:0%; right:0%; transform:rotateX(-90deg) translateZ(0px) scale(1); }
	100% { top:50%; right:120%; transform:rotateX(360deg) translateZ(-480px) scale(0.5); }
}
@keyframes leaf2 {
	0% { top:0%; right:0%; transform:rotateY(-30deg) rotateX(-30deg) translateZ(0px) scale(1); }
	100% { top:60%; right:120%; transform:rotateY(-90deg) rotateX(-360deg) translateZ(-300px) scale(2); }
}
@keyframes leaf3 {
	0% { top:0%; right:5%; transform:rotateY(-30deg) rotateX(-30deg) translateZ(0px)  scale(0.5); }
	100% { top:120%; right:90%; transform:rotateY(-240deg) rotateX(360deg) translateZ(180px)  scale(1.5); }
}

/* Main Features */
@keyframes main-feature {
	0% { transform:translateY(0px); }
	50% { transform:translateY(-15px); }
	100% { transform:translateY(0px);	 }
}