@charset "utf-8";

/* For IE7 */
#section-1, #section-3 {
	padding-top:150px;
}
#section-2-box {
	padding-top:0px;
}
#section-2-box .wrapper {
	padding-top:70px;
}
#main, #section-2-box .wrapper, #section-3 .wrapper {
	width:720px;
	position:relative;
	margin:auto !important;
}