input, textarea, select {
	outline: none
}
.pagination {
	margin: 1em 0;
	padding: 0
}
.pagination li {
	display: inline-block;
	float: left;
	margin: 0 2px
}
.pagination li a {
	font-family: 'Lucida Grande', Verdana, Arial, 'Bitstream Vera Sans', sans-serif;
	display: block;
	padding: 0 6px;
	height: 20px;
	line-height: 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	cursor: pointer;
	outline: none !important;
	text-align: center;
	text-decoration: none
}
.pagination .current {
	background: #fff;
	filter: none;
	color: #666
}

.progress {
	border: 1px solid #ccc;
	position: relative;
	display: block;
	height: 30px;
	padding: 0;
	min-width: 200px;
	margin: 4px 0;
	 /* IE10 */
	background-image: -ms-linear-gradient(top, #CCCCCC 0%, #FFFFFF 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #CCCCCC 0%, #FFFFFF 100%);
	/* Opera */
	background-image: -o-linear-gradient(top, #CCCCCC 0%, #FFFFFF 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #CCCCCC 0%, #FFFFFF 100%);
	/* Proposed W3C Markup */
	background-image: linear-gradient(top,#CCCCCC 0%, #FFFFFF 100%);
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.progress span {
	display: block;
height: 30px;
margin: 0;
padding: 0;
text-align: center;
width: 0;
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-animation: progress-bar-stripes 2s linear infinite;
-moz-animation: progress-bar-stripes 2s linear infinite;
-ms-animation: progress-bar-stripes 2s linear infinite;
-o-animation: progress-bar-stripes 2s linear infinite;
animation: progress-bar-stripes 2s linear infinite;
}
.progress span b {
	color: #fff;
	line-height: 20px;
	padding-left: 2px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5)
}
.progress-blue span {
	background-color: #1494F8;
background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
-webkit-background-size: 40px 40px;
-moz-background-size: 40px 40px;
-o-background-size: 40px 40px;
background-size: 40px 40px;
max-width: 100%;
display: inline-block;
}
.progress-green span {
	background-color: #25865B;
background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
-webkit-background-size: 40px 40px;
-moz-background-size: 40px 40px;
-o-background-size: 40px 40px;
background-size: 40px 40px;
max-width: 100%;
display: inline-block;
}
.progress-orange span {
	background-color: #E98200;
background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
-webkit-background-size: 40px 40px;
-moz-background-size: 40px 40px;
-o-background-size: 40px 40px;
background-size: 40px 40px;
max-width: 100%;
display: inline-block;
}
.progress-pown span {
background-color: #3A4741;
background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
-webkit-background-size: 40px 40px;
-moz-background-size: 40px 40px;
-o-background-size: 40px 40px;
background-size: 40px 40px;
max-width: 100%;
display: inline-block;
}
.progress-red span {
	background-color: #9E0000;
background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
-webkit-background-size: 40px 40px;
-moz-background-size: 40px 40px;
-o-background-size: 40px 40px;
background-size: 40px 40px;
max-width: 100%;
display: inline-block;
}
.form-error {
	-moz-box-shadow: #DDD 0px 0px 6px;
	-webkit-box-shadow: #DDD 0px 0px 6px;
	box-shadow: #DDD 0px 0px 6px;
	background-color: #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	display: none;
	font-size: 11px;
	height: 15px;
	padding: 4px 10px;
	z-index: 9999
}
.form-error p {
	margin: 0px;
	line-height: 15px
}
.form-error em {
	display: block;
	width: 0;
	height: 0;
	border: 5px solid;
	border-color: transparent #000 transparent transparent;
	position: absolute;
	top: 6px;
	left: -10px
}
.form label {
	display: block;
	font-size: 18px;
	margin: 8px 0;
	width: 200px;
	float: left;
	clear: left
}
.form input, .form textarea, .form select {
	float: left;
	clear: right
}
input.half, select.half, textarea.half {
	width: 50%
}
input.full, select.full, textarea.full {
	width: 95%
}
select, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=number], input[type=time] {
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 4px 6px;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff
}
select {
	padding: 3px
}
.invalid {
	border: 1px solid red !important
}
.tabs {
	list-style: none;
	margin: 0 !important;
	padding: 0;
	height: 30px;
	border-bottom: 1px solid #aaa
}
.tabs li {
	float: left;
	text-indent: 0;
	padding: 0;
	margin: 0 2px 0 0 !important;
	list-style-image: none !important;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}
.tabs a {
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#ddd));
	background: -moz-linear-gradient(top, #aaa, #ddd);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaa', endColorstr='#ddd');
	border-bottom: 1px solid #aaa;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	font-size: 11px;
	display: block;
	height: 29px;
	line-height: 30px;
	width: 111px;
	text-align: center;
	text-decoration: none;
	color: #000;
	padding: 0px;
	margin: 0px;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	top: 0px
}
.tabs a:active {
	outline: none
}
.tabs a:hover {
	background: #aaa;
	color: #fff;
	text-shadow: 0 -1px 0 #000
}
.tabs .current, .tabs .current:hover, .tabs li.current a {
	border-bottom: 1px solid #fff;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#fff));
	background: -moz-linear-gradient(top, #e1e1e1, #fff);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#fff');
	cursor: default !important;
	color: #000 !important;
	text-shadow: 0 1px 0 #fff
}
.panes div {
	display: none;
	padding: 15px 10px;
	border: 1px solid #aaa;
	border-top: 0;
	min-height: 100px;
	background-color: #fff
}
.panes .pane {
	display: none
}
.accordion {
	color: #000;
	border: 1px solid #ccc;
	background: #fff;
	text-shadow: 0 1px 0 #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px
}
.accordion h2 {
	background: #f7f7f7;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e1e1e1));
	background: -moz-linear-gradient(top, #f7f7f7, #e1e1e1);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e1e1e1');
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	text-shadow: 0 1px 0 #fff;
	color: #333;
	margin: 0;
	padding: 5px 15px;
	font-size: 14px;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
	cursor: pointer
}
.accordion h2:first-child {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-khtml-border-top-left-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}
.accordion h2:nth-last-child(2), .accordion .pane:last-child {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-khtml-border-bottom-left-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px
}
.accordion h2:hover {
	background: #ececec;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ccc));
	background: -moz-linear-gradient(top, #f1f1f1, #ccc);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ccc')
}
.accordion h2.current {
	cursor: default;
	background: #f7f7f7;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eee));
	background: -moz-linear-gradient(top, #f7f7f7, #eee);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#eee');
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px
}
.accordion .pane {
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#efefef));
	background: -moz-linear-gradient(top, #f9f9f9, #efefef);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#efefef');
	display: none;
	height: 180px;
	padding: 15px;
	color: #000;
	font-size: 12px
}
.accordion .pane h3 {
	font-weight: normal;
	margin: 0 0 -5px 0;
	font-size: 16px;
	color: #999
}
